---
layout: default
title: OBO Downloads
---

<h2>Downloads</h2>

<ul>
  <li><a href="#core">Donwload Core</a></li>
  <li><a href="#subsets">Download a Subset</a></li>
  <li><a href="#bridge">Download Bridging Axioms</a></li>
  <li><a href="#multiont">Download Combined Multi-species Ontology</a></li>
</ul>


<a id="core"></a>
<h2>Core Ontology</h2>

<h3>Extended Version</h3>

<p>
  OBO/ext is the recommended version. It imports subsets of other
  ontologies such as GO, and includes all of the cell ontology
  (CL). This is the version available for browsing on OntoBee.
</p>

<p>
  Download: <a href="http://purl.obolibrary.org/obo/OBO/ext.owl">OBO/ext.owl</a>
  <br/>
  OBO Format: <a href="http://purl.obolibrary.org/obo/OBO/ext.obo">OBO/ext.obo</a>
</p>

<h3>No extensions</h3>


<p>
  This excludes any relationships to other ontologies - it
  is a self-contained unit
</p>

<p>
  Download: <a href="http://purl.obolibrary.org/obo/OBO.owl">OBO.owl</a>
  <br/>
  OBO Format: <a href="http://purl.obolibrary.org/obo/OBO.obo">OBO.obo</a>
</p>

<a id="subsets"></a>
<h2>Subsets</h2>

<p>
  Different kinds of subsets are available.
  <ul>
    <li>
      Taxon subsets exclude any classes not relevant for a
      particular taxon
    </li>
    <li>
      System subsets exclude any classes not relevant for a
      particular anatomical system
    </li>
    <li>
      Logic subsets exclude some relationships or certain patterns of
      relationships
    </li>
  </ul>
</p>

<h3>Taxon Subsets</h3>

<p>These are constructed using
  OBO <a href="https://github.com/obophenotype/OBO/wiki/Taxon-constraints">taxon constraints</a>

<ul>
    {% for ont in site.distributions.taxon_subsets %}
    <li>
      <a href="http://purl.obolibrary.org/obo/OBO/subsets/{{ont}}.obo">subsets/{{ont}}.obo</a> |
      <a href="http://purl.obolibrary.org/obo/OBO/subsets/{{ont}}.owl">subsets/{{ont}}.owl</a>
    </li>
    {% endfor %}
</ul>

<h3>System Subsets</h3>

<ul>
    {% for ont in site.distributions.system_subsets %}
    <li>
      <a href="http://purl.obolibrary.org/obo/OBO/subsets/{{ont}}.obo">subsets/{{ont}}.obo</a>
    </li>
    {% endfor %}
</ul>


<h3>Logic Subsets</h3>

<p>
  Currently the main logic subset available
  is <i>OBO/basic</i>. This excludes all relationship types other
  than <i>is_a</i>, <i>part_of</i> and <i>develops_from</i>. Such an
  ontology always forms a Directed Ayclic Graph (DAG), which is a
  desirable property for some systems.
  <ul>
    <li>
      <a href="http://purl.obolibrary.org/obo/OBO/basic.obo">basic.obo</a>    
    </li>
  </ul>
  The basic subset is only available in obo format (use of OWL
  reasoners means that this is not necessary for OWL).
</p>


<a id="bridge"></a>
<h2>Anatomical Bridging Ontologies</h2>

<p>
  Anatomical Bridging ontologies consist of OWL axioms that connect
  OBO to another anatomical
  ontology. See <a href="https://github.com/obophenotype/OBO/wiki/inter-anatomy-ontology-bridge-ontologies">Wiki
  documentation</a> for more details.
</p>

<h4>Gross Anatomy</h4>

<ul>
    {% for ont in site.distributions.mapped_ontologies %}
    <li>
      <a href="http://purl.obolibrary.org/obo/OBO/bridge/OBO-bridge-to-{{ont}}.owl">bridge/OBO-bridge-to-{{ont}}.owl</a>
      (<a href="http://purl.obolibrary.org/obo/OBO/bridge/OBO-bridge-to-{{ont}}.obo">.obo</a>)
    </li>
    {% endfor %}
</ul>

<h4>Cell Types</h4>

<ul>
    {% for ont in site.distributions.mapped_ontologies %}
    <li>
      <a href="http://purl.obolibrary.org/obo/OBO/bridge/cl-bridge-to-{{ont}}.owl">bridge/cl-bridge-to-{{ont}}.owl</a>
      (<a href="http://purl.obolibrary.org/obo/OBO/bridge/cl-bridge-to-{{ont}}.obo">.obo</a>)
    </li>
    {% endfor %}
</ul>

<a id="multiont"></a>
<h2>Combined Multispecies Ontologies</h2>

<p>
</p>

<h3>Composite (merged) Multispecies Ontologies</h3>

<p>
  See
  the <a href="https://github.com/obophenotype/OBO/wiki/Multi-species-composite-ontologies">wiki</a>
  for more details. See
  also <a href="http://www.obofoundry.org/wiki/index.php/OBO:Merging">the
    old wiki</a>.
</p>
<p>
Composite ontologies <i>merge</i> species ontologies into the
structure of OBO, merging in taxonomic equivalents, and relabeling
species-specific classes. Note the composite ontologies also merge in all of the <a rel="nofollow" class="external text" href="http://cellontology.org">cell ontology</a> (CL).
</p>

<table class="table">

  <thead>
    <tr>
      <th> name
      </th>
      <th> obo
      </th>
      <th> owl
      </th>
      <th> includes
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> composite-vertebrate
      </td>
      <td> <a href="http://purl.obolibrary.org/obo/OBO/composite-vertebrate.obo">.obo</a>
      </td>
      <td> <a href="http://purl.obolibrary.org/obo/OBO/composite-vertebrate.owl">.owl</a>
      </td>
      <td> MA, EHDAA2, ZFA, XAO, CL
    </td></tr>
    <tr>
      <td> composite-metazoan
      </td>
      <td> 
        <a href="http://purl.obolibrary.org/obo/OBO/composite-metazoan.obo">.obo</a> <br> 
      </td>
      <td> 
        <a href="http://purl.obolibrary.org/obo/OBO/composite-metazoan.owl">.owl</a>
      </td>
      <td> MA, EHDAA2, ZFA, XAO, CL, FBbt, WBbt, PORO, CTENO, CEPH
      </td>
    </tr>
    <tr>
      <td> composite-metazoan-basic
      </td>
      <td> 
        <a href="http://purl.obolibrary.org/obo/OBO/composite-metazoan-basic.obo">.obo</a>
      </td>
      <td> 
        n/a
      </td>
      <td> MA, EHDAA2, ZFA, XAO, CL, FBbt, WBbt, PORO, CTENO, CEPH
      </td>
    </tr>
  </tbody>
</table>
</p>



<h3>Importer (collector) Multispecies Ontologies</h3>

<p>
  See
  the <a href="https://github.com/obophenotype/OBO/wiki/Multi-species-importer-ontologies">wiki</a>
  for more details. See also Fig 3 from the OBO paper:
  <img src="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3334586/bin/gb-2012-13-1-r5-3.jpg"/>
</p>
<p>
  The
  ontology <a href="http://purl.obolibrary.org/obo/OBO/bridge/collected-eukaryote.owl">collected-eukaryote.owl</a>
  imports OBO plus bridging axioms plus individual species anatomy
  ontologies. The ontology is constructed recursively, and it is
  possible to obtain an importer ontology for a variety of taxa.
</p>
<p>
  The 
  <a href="http://purl.obolibrary.org/obo/OBO/bridge/">OBO/bridge</a>
  folder contains all collected-X ontologies.
  
</p>

<a id="data"></a>
<h2>Data annotated using OBO</h2>

<p>
OBO is currently being used for diverse types of data annotation,
from evolutionary phenotype data to description of samples in next-gen
sequencing projects. We currently do not provide an aggregated
download of all this data. Please visit
the <a href="/about/adopters.html">adopters</a> page for details on
how to download individual datasets.
</p>

<p>
OBO can also be used to integrate data provided by groups that do
not explicitly adope OBO. For example, data from annotated using
the MGI adult mouse ontology can be integrated with data from the
Allen Brain Atlas by using the two
corresponding <a href="#bridge">bridge</a> ontologies.
</p>
