---
layout: default
title: The OBO Foundry
---
{% include navbar.html %}
<div class="content">    
  <div class="col-md-12">
    <h1>The Open Biological and Biomedical Ontology (OBO) Foundry</h1>
    <h3>Community development of interoperable ontologies for the biological sciences</h3>
    <h4>Learn about OBO best practices and community resources</h4>
    <ul>
      <li><a href="about-OBO-Foundry.html">More about the OBO Foundry</a></li>
      <li><a href="principles/fp-000-summary.html">OBO Foundry principles</a></li>
      <li><a href="https://github.com/jamesaoverton/obo-tutorial">OBO tutorial</a></li>
      <li><a href="resources">Ontology browsers, tutorials, and tools</a></li>
    </ul>

    <h4>Participate</h4>
    <ul>
      <li><a href="https://groups.google.com/forum/#!forum/obo-discuss">Join the OBO mailing list</a></li>
      <li><a href="docs/OperationsCommittee.html">OBO Foundry Operations and Working Groups</a></li>
      <li><a href="https://github.com/OBOFoundry/OBOFoundry.github.io/issues">Submit bug reports or suggestions for improvement via GitHub</a></li>
      <li><a href="faq/how-do-i-register-my-ontology.html">Submit your ontology to be considered for inclusion in the OBO Foundry</a></li>
    </ul>

    <h4>OBO Library: find, use, and contribute to community ontologies</h4>
    <p>The table below lists current OBO ontologies (in alphabetical order, but with the ontologies that have been manually reviewed by the OBO Foundry listed first, and obsolete ontologies listed last).</p>
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        {% include widget.html %}
      </div>
    </div>
  </div>
</div>
