---
layout: default
title: The OBO Foundry
---
{% include navbar.html %}
<div class="content">    


  <div>	
    <div >
      <h1>The OBO Foundry</h1>
    </div>

    <div class="jumbotron">
      yadda
    </div>

  <div class="col-md-12">
    <h2>Foundry</h2>
    <div class="row">
      <div class="col-md-12">
        {% include ontology_table.html foundry="true" %}
      </div>
    </div>
    <h2>Others</h2>
    <div class="row">
      <div class="col-md-12">
        {% include ontology_table.html foundry=false %}
      </div>
    </div>
  </div>


</div>
