---
layout: default
title: The OBO Foundry
---

<div class="row">
    <h1 class="display-6">
        Open Biological and Biomedical Ontology Foundry
    </h1>
    <p>
        The mission of the the Open Biological and Biomedical Ontology (OBO) Foundry is community development of
        interoperable ontologies that are both logically well-formed and scientifically accurate. To achieve this, OBO
        Foundry participants follow and contribute to the development of an evolving set of
        <a href="/principles/fp-000-summary.html">principles</a> including <a href="/principles/fp-001-open.html">open
        use</a>, <a href="/principles/fp-010-collaboration.html">collaborative development</a>,
        <a href="/principles/fp-005-delineated-content.html">non-overlapping and strictly-scoped content</a>, and
        common <a href="/principles/fp-002-format.html">syntax</a> and <a href="/principles/fp-007-relations.html">relations</a>,
        based on ontology models that work well, such as the <a target="_new" href="http://geneontology.org/">Gene
        Ontology (GO)</a>. Learn more about the OBO Foundry <a href="about-OBO-Foundry.html">here</a>.
    </p>

    <h4>Learn about OBO best practices and community resources</h4>
    <ul>
        <li><a href="principles/fp-000-summary.html">OBO Foundry principles</a></li>
        <li>
            <a href="https://github.com/jamesaoverton/obo-tutorial">OBO tutorial</a>
        </li>
        <li><a href="resources">Ontology browsers, tutorials, and tools</a></li>
    </ul>

    <h4>Participate</h4>
    <ul>
        <li><a href="docs/COC.html">Code of Conduct</a></li>
        <li>
            Join the <a href="https://groups.google.com/forum/#!forum/obo-discuss">OBO mailing list</a>
            and the <a href="https://obo-communitygroup.slack.com/">OBO Community Slack workspace</a>
        </li>
        <li>
            <a href="docs/OperationsCommittee.html">
                OBO Foundry Operations and Working Groups
            </a>
        </li>
        <li>
            <a href="https://github.com/OBOFoundry/OBOFoundry.github.io/issues">
                Submit bug reports or suggestions for improvement via GitHub
            </a>
        </li>
        <li>
            <a href="faq/how-do-i-register-my-ontology.html">
                Submit your ontology to be considered for inclusion in the OBO Foundry
            </a>
        </li>
    </ul>

    <h4>OBO Library: find, use, and contribute to community ontologies</h4>
</div>

<div class="row">
    {% include table_widget.html %}
    <noscript> {% include ontology_table.html %}</noscript>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
<script src="assets/js/underscore.min.js"></script>
<script src="assets/js/sorttable.js"></script>
<script src="assets/js/custom.js"></script>
