<p>
  <img 
       src="{{ site.imgurl}}/u-logo.jpg" alt="logo" 
       title="Follow us on Twitter @{{ site.author.twitter }}" 
       class="img-rounded floatLeft" 
       />

    OBO is an integrated cross-species ontology covering anatomical
    structures in animals. See the <a href="{{ site.baseurl}}about.html">about</a> page
    for more info.

</p>					
<p>
              <span class="icon search"></span>
              {% include ontobee_search.html %}
</p>
<p>
    <h6>github.com/obophenotype/OBO</h6>
    <iframe 
       class="github-btn"
       src="http://ghbtns.com/github-btn.html?user={{site.project.github.org }}&repo={{ site.project.github.repo }}&type=watch&count=true" 
       allowtransparency="true" 
       frameborder="0" scrolling="0" width="80px" height="20px">
    </iframe>&nbsp;
    <iframe class="github-btn"
            src="http://ghbtns.com/github-btn.html?user={{ site.project.github.org }}&repo={{ site.project.github.repo}}&type=fork&count=true"
            allowtransparency="true" frameborder="0" scrolling="0"
            width="98px" height="20px">
    </iframe>
</p>
<p>
  <a href="https://twitter.com/{{ site.project.twitter }}" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @{{ site.project.twitter }}</a>
</p>
<p>

  <a href="https://plus.google.com/+OBOOrg" rel="publisher">Google+</a>
</p>
<p>
    <ul class="buttons unstyled">
      <li><a href="https://github.com/{{ site.project.github.org }}" rel="me" class="social github" title="Go to github.com/{{ site.project.github.org }}" target="_blank"></a></li>
      <li><a href="http://www.twitter.com/{{ site.project.twitter }}" rel="me" class="social twitter" title="Go to twitter.com/{{ site.project.twitter }}" target="_blank"></a></li>
      <li><a href="https://github.com/{{ site.project.github.org }}/OBO/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback for {{ site.project.name  }}"  target="_blank"></a></li>				
    </ul>
</p>
