<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-yp4a{border-color:#333333;vertical-align:top}
.tg .tg-lbaf{font-weight:bold;border-color:#333333;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-lbaf">Ontology Name</th>
    <th class="tg-lbaf">Date</th>
    <th class="tg-lbaf">Review</th>
  </tr>
  {% for rev in site.reviews %}
  <tr>
    <td class="tg-yp4a">
    	<a href="{{ rev.ontology_url }}">{{ rev.ontology_label }}</a>
    </td>
    <td class="tg-yp4a">
    	{{ rev.year_reviewed }}
    </td>
    {% if rev.review_document_url != "" and rev.review_document_url != nil %}
    	<td class="tg-yp4a">
    		<a href="{{ rev.review_document_url }}">{{ rev.review_document_label }}</a>
    	</td>
    {% else %}
    	<td class="tg-yp4a">
    		{{ rev.review_document_label }}
    	</td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
