    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ site.baseurl}}">{{ site.title }}</a>
          <div class="nav-collapse">
            <ul class="nav">

              <li class="">
                <a href="{{ site.baseurl}}"><i class="icon-home"></i> Home</a>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-list"></i> About <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="extra" href="{{ site.baseurl}}about.html">Overview</a></li>
                  <li><a class="extra" href="{{ site.baseurl}}allnews.html">News</a></li>
                  <li><a class="extra" href="{{ site.baseurl}}about/adopters.html">Adopters</a></li>
                  <li><a class="extra" href="{{ site.baseurl}}publications.html">Publications</a></li>
                  <li><a class="extra" href="{{ site.baseurl}}about/acknowledgements.html">Acknowledgements</a></li>
                  <li><a class="extra" href="{{ site.baseurl}}about/contact.html">Contact</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-list"></i> Explore <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><span style="white-space: nowrap">&nbsp;<a class="extra" href="{{ site.baseurl}}browse/olsvis.html">OlsVis</a> <i>ontology browser</i>&nbsp;</span></li>
                  <li><span style="white-space: nowrap">&nbsp;<a class="extra" href="{{ site.baseurl}}browse/ontobee.html">OntoBee</a> <i>ontology browser</i>&nbsp;</span></li>
                  <li><span style="white-space: nowrap">&nbsp;<a class="extra" href="{{ site.baseurl}}browse/ols.html">OLS</a> <i>ontology browser</i>&nbsp;</span></li>
                  <li><span style="white-space: nowrap">&nbsp;<a class="extra" href="{{ site.baseurl}}browse/bioportal.html">BioPortal</a> <i>ontology browser</i>&nbsp;</span></li>
                  <li><span style="white-space: nowrap">&nbsp;<a class="extra" href="{{ site.baseurl}}browse/rgd.html">RGD</a> <i>ontology browser</i>&nbsp;</span></li>
                  <li><span style="white-space: nowrap">&nbsp;<a class="extra" href="{{ site.baseurl}}browse/amigo.html">AmiGO 2</a> <i>annotation queries</i>&nbsp;</span></li>
                  <li><span style="white-space: nowrap">&nbsp;<a class="extra" href="{{ site.baseurl}}browse/phenoscape.html">Phenoscape</a> <i>evolutionary data</i>&nbsp;</span></li>
                  <li><span style="white-space: nowrap">&nbsp;<a class="extra" href="{{ site.baseurl}}browse/annotate.html">Annotate Text</a> <i>(experimental)</i>&nbsp;</span></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-list"></i> Download <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="extra" href="{{ site.baseurl}}downloads.html">Ontology</a></li>
                  <li><a class="extra" href="{{ site.baseurl}}downloads.html#subsets">Ontology Subsets</a></li>
                  <li><a class="extra" href="{{ site.baseurl}}downloads.html#bridge">Bridge Axioms</a></li>
                  <li><a class="extra" href="{{ site.baseurl}}downloads.html#multiont">Multi-ontology Views</a></li>
                  <li><a class="extra" href="{{ site.baseurl}}downloads.html#data">Data</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-list"></i> Documentation <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="extra" href="https://github.com/obophenotype/OBO/wiki">Wiki</a></li>
                  <li><a class="extra" href="https://github.com/obophenotype/OBO/wiki/Manual">OBO Manual</a></li>
                  <li><a class="extra" href="https://github.com/obophenotype/OBO/wiki/Manual#user-docs">User Documentation</a></li>
                  <li><a class="extra" href="https://github.com/obophenotype/OBO/wiki/Manual#editor-docs">Editor Documentation</a></li>
                  <li><a class="extra" href="https://github.com/obophenotype/OBO/wiki/Manual#design-patterns">Design Patterns</a></li>
                  <li><a class="extra" href="https://github.com/obophenotype/OBO/wiki/Manual#anatomical-structures">Anatomical Structures</a></li>
                  <li><a class="extra" href="http://www.obofoundry.org/wiki/index.php/OBO:Main_Page">Legacy wiki (DEPRECATED)</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-list"></i> Project <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="extra" href="https://github.com/obophenotype/OBO">GitHub site</a></li>
                  <li><a class="extra" href="https://github.com/obophenotype/OBO/issues">Issue tracker</a></li>
                </ul>
              </li>


            </ul>
          </div>
        </div>
      </div>
    </div>
