<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ site.url }}">{{ site.title }}</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="">
                        <a href="{{ site.url }}"><i class="icon-home"></i> Home</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-list"></i> Projects <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class=""><a href="https://github.com/gkwelding/WSDLInterpreter" title="take me to the WSDLInterpreter github page" target="_blank">WSDLInterpreter</a></li>
                            <li class=""><a href="https://github.com/gkwelding/Scene7WSDLPHPWrapper" title="take me to the Scene7WSDLPHPWrapper github page" target="_blank">Adobe Scene7 WSDL PHP Wrapper</a></li>
                            <li class=""><a href="https://github.com/gkwelding/GoogleMapsV3CI" title="take me to the Google Maps V3 API for CodeIgniter github page" target="_blank">Google Maps V3 API for CodeIgniter</a></li>
                            <li class=""><a href="https://github.com/gkwelding/MailchimpAPICI" title="take me to the MailChimp API for CodeIgniter github page" target="_blank">MailChimp API for CodeIgniter</a></li>
                            <li class=""><a href="https://github.com/gkwelding/FuelPHP-Social-Package" title="take em to the FuelPHP Social Package github page" target="_blank">FuelPHP Social Package</a></li>
                            <li class=""><a href="https://github.com/gkwelding/Bugzilla-Command-Line-Stats" title="take em to the Bugzilla Command Line Stats github page" target="_blank">Bugzilla Command Line Stats</a></li>
                            <li class=""><a href="https://github.com/gkwelding/ihelp" title="Make em to the iHelp jQuery Plugin github page" target="_blank">iHelp jQuery Plugin</a></li>
                        </ul>
                    </li>
                    <li id="search" class="search hidden-phone hidden-tablet">
                        <span class="icon search"></span>
                        <input type="text" placeholder="search">
                        <i id="close" class="icon-remove"></i>
                        <ol id="search-results" class="dropdown-menu">
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>