<table class="table">
  <tbody>
    {% assign sorted_ontologies = site.ontologies | sort: 'in_foundry_order', 'last'  %}
    {% for ont in sorted_ontologies %}
    <tr>
      <td>
         <a href="ontology/{{ ont.id }}.html" > {{ont.id}} </a>
      </td>
      <td>
        {{ ont.title }}
      </td>
      <td>
        {{ ont.description }} 
        <small>
          <a href="ontology/{{ ont.id }}.html" > Detail </a>
        </small>
      </td>
      <td>
        <a href="ontology/{{ont.id}}.html">
          <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          </button>
        </a>
      </td>
      <td>
        <a href="{{ont.homepage}}">
          <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          </button>
        </a>
      </td>
      <td>
        {% if ont.tracker %}
        <a href="{{ont.tracker}}">
          <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
          </button>
        </a>
        {% endif %}
      </td>

      <td>
        {% if ont.contact %}
        <a href="mailto:{{ont.contact.email}}">
          <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          </button>
        </a>
        {% endif %}
      </td>

      <td>
        <a href="http://purl.obolibrary.org/obo/{{ont.id}}.owl">
          <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
          </button>
        </a>
      </td>

      <td>
        <a href="http://www.ontobee.org/browser/index.php?o={{ont.id}}">
          <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          </button>
        </a>
      </td>

      <td>
        {% if ont.publications %}
        <a href="{{ont.publications.first.id}}">
          <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
          </button>
        </a>
        {% endif %}
      </td>

      <td>
        {% if ont.in_foundry_order %}
        <a href="link-to-foundry-principles">
          <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </button>
        </a>
        {% endif %}
      </td>

    </tr>

    {% endfor %}
  </tbody>
</table>
