<!--this file has been replaced with the table_widget.html-->
<!--use when javascript is not active-->
Download table as: [ <a href="/registry/ontologies.yml">YAML</a> |
<a href="/registry/ontologies.jsonld">JSON-LD</a> |
<a href="/registry/ontologies.ttl">RDF/Turtle</a> ]
<table class="table">
  <tbody>
    {% for ont in site.ontologies %} {% if ont.in_foundry_order %}
    <tr>
      {% elsif ont.is_obsolete %}
    </tr>

    <tr class="obsolete">
      {% elsif ont.activity_status == "orphaned" %}
    </tr>

    <tr class="obsolete">
      {% elsif ont.activity_status == "inactive" %}
    </tr>

    <tr class="obsolete">
      {% endif %}
      <td>
        <a href="ontology/{{ ont.id }}.html">
          {% if ont.is_obsolete %}
          <s> {{ ont.id }} </s>
          {% else %} {{ ont.id }} {% endif %}
        </a>
      </td>
      <td>
        {% if ont.is_obsolete %}
        <s> {{ ont.title }} </s>
        {% else %} {{ ont.title }} {% endif %} {% if ont.license %}
        <a href="{{ont.license.url}}"
          ><img
            width="100px"
            src="{{ont.license.logo}}"
            alt="{{ont.license.label}}"
        /></a>
        {% endif %}
      </td>
      <td>
        {% if ont.is_obsolete %}
        <s> {{ ont.description | truncate: 140 }} </s>
        <mark>obsolete</mark>
        {% elsif ont.activity_status == "inactive" %} {{ ont.description |
        truncate: 140 }}
        <mark>inactive</mark>
        {% else %} {{ ont.description | truncate: 140 }} {% endif %}
        <small>
          <a href="ontology/{{ ont.id }}.html"> Detail </a>
        </small>
      </td>
      <td>
        <a
          href="ontology/{{ont.id}}.html"
          class="btn btn-outline-primary"
          aria-label="More details for {{ ont.title }}"
          title="More details"
        >
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        </a>
      </td>
      <td>
        <a
          href="{{ont.homepage}}"
          class="btn btn-outline-primary"
          aria-label="Go to the homepage for {{ ont.title }}"
          title="Project home"
        >
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        </a>
      </td>
      <td>
        {% if ont.tracker %}
        <a
          href="{{ont.tracker}}"
          class="btn btn-outline-primary"
          aria-label="Go to the tracker for {{ ont.title }}"
          title="Tracker"
        >
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        </a>
        {% endif %}
      </td>

      <td>
        {% if ont.contact %}
        <a
          href="mailto:{{ont.contact.email}}"
          class="btn btn-outline-primary"
          aria-label="Send an email to {{ont.contact.label}}, the contact person for {{ ont.title }}"
          title="Email ontology devs"
        >
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        </a>
        {% endif %}
      </td>

      <td>
        <a
          href="http://purl.obolibrary.org/obo/{{ont.id}}.owl"
          class="btn btn-outline-primary"
          aria-label="Download {{ ont.title }} in the OWL format"
          title="Download file"
        >
          <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
        </a>
      </td>

      <td>
        <a
          href="https://ontobee.org/browser/index.php?o={{ont.id}}"
          class="btn btn-outline-primary"
          aria-label="Browse {{ ont.title }} on OntoBee"
          title="Browse on Ontobee"
        >
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        </a>
      </td>

      <td>
        {% if ont.publications %}
        <a
          href="{{ont.publications.first.id}}"
          class="btn btn-outline-primary"
          aria-label="View the primary publication for {{ ont.title }}"
          title="Publications list"
        >
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        </a>
        {% endif %}
      </td>

      <td>
        {% if ont.in_foundry_order %}
        <a
          href="/principles/fp-000-summary.html"
          class="btn btn-outline-primary"
          aria-label="View the OBO Foundry criteria for the Foundry status of {{ ont.title }}"
        >
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </a>
        {% endif %}
      </td>

      <td>
        {% if ont.repository %} {% if ont.repository contains
        "https://github.com/" %}
        <a
          href="{{ ont.repository }}"
          aria-label="Go to the repository page for {{ ont.title }}"
        >
          <img
            alt="GitHub Repo stars"
            src="https://img.shields.io/github/stars/{{ ont.repository | remove: 'https://github.com/' }}?style=social"
          />
        </a>
        {% endif %} {% endif %}
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
