<form id="form_term_search" action="index.php" method="get" style="padding-top:20px; padding-bottom:20px;">
  <div class="ui-widget">
    <strong>
      <label for="keywords">Keywords: </label>
    </strong>
    <input aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" class="ui-autocomplete-input" id="keywords" name="keywords" size="30" value="">
    <input name="Submit2" value="Search terms" type="submit">
    <input name="o" id="ontology" value="OBO" type="hidden">
  </div>
</form>
