<div>
  Download table as: [
  <a href="/registry/ontologies.yml">YAML</a> |
  <a href="/registry/ontologies.jsonld">JSON-LD</a> |
  <a href="/registry/ontologies.ttl">RDF/Turtle</a>
  ]
</div>

<div style="padding-bottom: 10px; padding-top: 20px">
  <label for="searchVal">Search Table</label>
  <input
    type="text"
    style="width: 60%"
    class="form-control"
    id="searchVal"
    placeholder="Search table ..."
  />
</div>

<div class="row">
  <div class="col-md-3">
    <label for="dd-domains">Ontology Domains:</label>
    <select id="dd-domains"></select>
  </div>
  <div class="form-group form-check col-md-3">
    <input
      type="checkbox"
      class="form-check-input"
      id="groupByDomain"
      data-filter="domain"
      checked
    />
    <label class="form-check-label" for="groupByDomain">Group By Domain</label>
  </div>
  <div class="form-group form-check col-md-3">
    <input
      type="checkbox"
      class="form-check-input"
      id="hideInactive"
      data-filter="activity_status"
      checked
    />
    <label class="form-check-label" for="hideInactive">Hide Inactive</label>
  </div>
  <div class="form-group form-check col-md-3">
    <input
      type="checkbox"
      class="form-check-input"
      id="hideObsolete"
      data-filter="is_obsolete"
      checked
    />
    <label class="form-check-label" for="hideObsolete">Hide Obsolete</label>
  </div>
</div>

<!--below dic is been populated by javascript with table content-->
<div id="tableDiv"></div>
