pre .hll { background-color: #ffffcc !important }
pre  { background: #f0f0f0; }
pre .c { color: #60a0b0 !important; font-style: italic } /* Comment */
pre .err { border: 1px solid #FF0000 } /* Error */
pre .k { color: #007020 !important; font-weight: bold } /* Keyword */
pre .o { color: #666666 !important } /* Operator */
pre .ch { color: #60a0b0 !important; font-style: italic } /* Comment.Hashbang */
pre .cm { color: #60a0b0 !important; font-style: italic } /* Comment.Multiline */
pre .cp { color: #007020 !important } /* Comment.Preproc */
pre .cpf { color: #60a0b0 !important; font-style: italic } /* Comment.PreprocFile */
pre .c1 { color: #60a0b0 !important; font-style: italic } /* Comment.Single */
pre .cs { color: #60a0b0 !important; background-color: #fff0f0 !important } /* Comment.Special */
pre .gd { color: #A00000 !important } /* Generic.Deleted */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gr { color: #FF0000 !important } /* Generic.Error */
pre .gh { color: #000080 !important; font-weight: bold } /* Generic.Heading */
pre .gi { color: #00A000 !important } /* Generic.Inserted */
pre .go { color: #888888 !important } /* Generic.Output */
pre .gp { color: #c65d09 !important; font-weight: bold } /* Generic.Prompt */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { color: #800080 !important; font-weight: bold } /* Generic.Subheading */
pre .gt { color: #0044DD !important } /* Generic.Traceback */
pre .kc { color: #007020 !important; font-weight: bold } /* Keyword.Constant */
pre .kd { color: #007020 !important; font-weight: bold } /* Keyword.Declaration */
pre .kn { color: #007020 !important; font-weight: bold } /* Keyword.Namespace */
pre .kp { color: #007020 !important } /* Keyword.Pseudo */
pre .kr { color: #007020 !important; font-weight: bold } /* Keyword.Reserved */
pre .kt { color: #902000 !important } /* Keyword.Type */
pre .m { color: #40a070 !important } /* Literal.Number */
pre .s { color: #4070a0 !important } /* Literal.String */
pre .na { color: #4070a0 !important } /* Name.Attribute */
pre .nb { color: #007020 !important } /* Name.Builtin */
pre .nc { color: #0e84b5 !important; font-weight: bold } /* Name.Class */
pre .no { color: #60add5 !important } /* Name.Constant */
pre .nd { color: #555555 !important; font-weight: bold } /* Name.Decorator */
pre .ni { color: #d55537 !important; font-weight: bold } /* Name.Entity */
pre .ne { color: #007020 !important } /* Name.Exception */
pre .nf { color: #06287e !important } /* Name.Function */
pre .nl { color: #002070 !important; font-weight: bold } /* Name.Label */
pre .nn { color: #0e84b5 !important; font-weight: bold } /* Name.Namespace */
pre .nt { color: #062873 !important; font-weight: bold } /* Name.Tag */
pre .nv { color: #bb60d5 !important } /* Name.Variable */
pre .ow { color: #007020 !important; font-weight: bold } /* Operator.Word */
pre .w { color: #bbbbbb !important } /* Text.Whitespace */
pre .mb { color: #40a070 !important } /* Literal.Number.Bin */
pre .mf { color: #40a070 !important } /* Literal.Number.Float */
pre .mh { color: #40a070 !important } /* Literal.Number.Hex */
pre .mi { color: #40a070 !important } /* Literal.Number.Integer */
pre .mo { color: #40a070 !important } /* Literal.Number.Oct */
pre .sa { color: #4070a0 !important } /* Literal.String.Affix */
pre .sb { color: #4070a0 !important } /* Literal.String.Backtick */
pre .sc { color: #4070a0 !important } /* Literal.String.Char */
pre .dl { color: #4070a0 !important } /* Literal.String.Delimiter */
pre .sd { color: #4070a0 !important; font-style: italic } /* Literal.String.Doc */
pre .s2 { color: #4070a0 !important } /* Literal.String.Double */
pre .se { color: #4070a0 !important; font-weight: bold } /* Literal.String.Escape */
pre .sh { color: #4070a0 !important } /* Literal.String.Heredoc */
pre .si { color: #70a0d0 !important; font-style: italic } /* Literal.String.Interpol */
pre .sx { color: #c65d09 !important } /* Literal.String.Other */
pre .sr { color: #235388 !important } /* Literal.String.Regex */
pre .s1 { color: #4070a0 !important } /* Literal.String.Single */
pre .ss { color: #517918 !important } /* Literal.String.Symbol */
pre .bp { color: #007020 !important } /* Name.Builtin.Pseudo */
pre .fm { color: #06287e !important } /* Name.Function.Magic */
pre .vc { color: #bb60d5 !important } /* Name.Variable.Class */
pre .vg { color: #bb60d5 !important } /* Name.Variable.Global */
pre .vi { color: #bb60d5 !important } /* Name.Variable.Instance */
pre .vm { color: #bb60d5 !important } /* Name.Variable.Magic */
pre .il { color: #40a070 !important } /* Literal.Number.Integer.Long */.highlight pre .hll { background-color: #ffffcc !important }
.highlight pre  { background: #f0f0f0; }
.highlight pre .c { color: #60a0b0 !important; font-style: italic } /* Comment */
.highlight pre .err { border: 1px solid #FF0000 } /* Error */
.highlight pre .k { color: #007020 !important; font-weight: bold } /* Keyword */
.highlight pre .o { color: #666666 !important } /* Operator */
.highlight pre .ch { color: #60a0b0 !important; font-style: italic } /* Comment.Hashbang */
.highlight pre .cm { color: #60a0b0 !important; font-style: italic } /* Comment.Multiline */
.highlight pre .cp { color: #007020 !important } /* Comment.Preproc */
.highlight pre .cpf { color: #60a0b0 !important; font-style: italic } /* Comment.PreprocFile */
.highlight pre .c1 { color: #60a0b0 !important; font-style: italic } /* Comment.Single */
.highlight pre .cs { color: #60a0b0 !important; background-color: #fff0f0 !important } /* Comment.Special */
.highlight pre .gd { color: #A00000 !important } /* Generic.Deleted */
.highlight pre .ge { font-style: italic } /* Generic.Emph */
.highlight pre .gr { color: #FF0000 !important } /* Generic.Error */
.highlight pre .gh { color: #000080 !important; font-weight: bold } /* Generic.Heading */
.highlight pre .gi { color: #00A000 !important } /* Generic.Inserted */
.highlight pre .go { color: #888888 !important } /* Generic.Output */
.highlight pre .gp { color: #c65d09 !important; font-weight: bold } /* Generic.Prompt */
.highlight pre .gs { font-weight: bold } /* Generic.Strong */
.highlight pre .gu { color: #800080 !important; font-weight: bold } /* Generic.Subheading */
.highlight pre .gt { color: #0044DD !important } /* Generic.Traceback */
.highlight pre .kc { color: #007020 !important; font-weight: bold } /* Keyword.Constant */
.highlight pre .kd { color: #007020 !important; font-weight: bold } /* Keyword.Declaration */
.highlight pre .kn { color: #007020 !important; font-weight: bold } /* Keyword.Namespace */
.highlight pre .kp { color: #007020 !important } /* Keyword.Pseudo */
.highlight pre .kr { color: #007020 !important; font-weight: bold } /* Keyword.Reserved */
.highlight pre .kt { color: #902000 !important } /* Keyword.Type */
.highlight pre .m { color: #40a070 !important } /* Literal.Number */
.highlight pre .s { color: #4070a0 !important } /* Literal.String */
.highlight pre .na { color: #4070a0 !important } /* Name.Attribute */
.highlight pre .nb { color: #007020 !important } /* Name.Builtin */
.highlight pre .nc { color: #0e84b5 !important; font-weight: bold } /* Name.Class */
.highlight pre .no { color: #60add5 !important } /* Name.Constant */
.highlight pre .nd { color: #555555 !important; font-weight: bold } /* Name.Decorator */
.highlight pre .ni { color: #d55537 !important; font-weight: bold } /* Name.Entity */
.highlight pre .ne { color: #007020 !important } /* Name.Exception */
.highlight pre .nf { color: #06287e !important } /* Name.Function */
.highlight pre .nl { color: #002070 !important; font-weight: bold } /* Name.Label */
.highlight pre .nn { color: #0e84b5 !important; font-weight: bold } /* Name.Namespace */
.highlight pre .nt { color: #062873 !important; font-weight: bold } /* Name.Tag */
.highlight pre .nv { color: #bb60d5 !important } /* Name.Variable */
.highlight pre .ow { color: #007020 !important; font-weight: bold } /* Operator.Word */
.highlight pre .w { color: #bbbbbb !important } /* Text.Whitespace */
.highlight pre .mb { color: #40a070 !important } /* Literal.Number.Bin */
.highlight pre .mf { color: #40a070 !important } /* Literal.Number.Float */
.highlight pre .mh { color: #40a070 !important } /* Literal.Number.Hex */
.highlight pre .mi { color: #40a070 !important } /* Literal.Number.Integer */
.highlight pre .mo { color: #40a070 !important } /* Literal.Number.Oct */
.highlight pre .sa { color: #4070a0 !important } /* Literal.String.Affix */
.highlight pre .sb { color: #4070a0 !important } /* Literal.String.Backtick */
.highlight pre .sc { color: #4070a0 !important } /* Literal.String.Char */
.highlight pre .dl { color: #4070a0 !important } /* Literal.String.Delimiter */
.highlight pre .sd { color: #4070a0 !important; font-style: italic } /* Literal.String.Doc */
.highlight pre .s2 { color: #4070a0 !important } /* Literal.String.Double */
.highlight pre .se { color: #4070a0 !important; font-weight: bold } /* Literal.String.Escape */
.highlight pre .sh { color: #4070a0 !important } /* Literal.String.Heredoc */
.highlight pre .si { color: #70a0d0 !important; font-style: italic } /* Literal.String.Interpol */
.highlight pre .sx { color: #c65d09 !important } /* Literal.String.Other */
.highlight pre .sr { color: #235388 !important } /* Literal.String.Regex */
.highlight pre .s1 { color: #4070a0 !important } /* Literal.String.Single */
.highlight pre .ss { color: #517918 !important } /* Literal.String.Symbol */
.highlight pre .bp { color: #007020 !important } /* Name.Builtin.Pseudo */
.highlight pre .fm { color: #06287e !important } /* Name.Function.Magic */
.highlight pre .vc { color: #bb60d5 !important } /* Name.Variable.Class */
.highlight pre .vg { color: #bb60d5 !important } /* Name.Variable.Global */
.highlight pre .vi { color: #bb60d5 !important } /* Name.Variable.Instance */
.highlight pre .vm { color: #bb60d5 !important } /* Name.Variable.Magic */
.highlight pre .il { color: #40a070 !important } /* Literal.Number.Integer.Long */