body {
    padding-top: 50px;
}

ul.buttons li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
    float:left;
}

img.floatLeft {
    float: left;
    margin: 4px 8px 4px 0px;
}

img.img-rounded {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

a.social {
  display: block;
  width:  34px;
  height: 34px;
  background: url(/img/social_icons.png);
  margin: 3px;
}

a.social.github {
  background: url(/img/social_icons.png) -68px 0px no-repeat;
}

a.social.github:hover {
  background: url(/img/social_icons.png) -68px -34px no-repeat;
}

a.social.linkedin {
  background: url(/img/social_icons.png) -102px 0px no-repeat;
}

a.social.linkedin:hover {
  background: url(/img/social_icons.png) -102px -34px no-repeat;
}

a.social.twitter {
  background: url(/img/social_icons.png) 0 0px no-repeat;
}

a.social.twitter:hover {
  background: url(/img/social_icons.png) 0px -34px no-repeat;
}

a.social.rss {
  background: url(/img/social_icons.png) -34px 0px no-repeat;
}

a.social.rss:hover {
  background: url(/img/social_icons.png) -34px -34px no-repeat;
}

a.social.mail {
  background: url(/img/social_icons.png) -136px 0px no-repeat;
}

a.social.mail:hover {
  background: url(/img/social_icons.png) -136px -34px no-repeat;
}

a.social.gplus {
  background: url(/img/social_icons.png) -170px 0px no-repeat;
}

a.social.gplus:hover {
  background: url(/img/social_icons.png) -170px -34px no-repeat;
}

body {
    margin: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    background-color: #F0F0F0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 38px;
    line-height: 57px;
}

h2 {
    font-size: 32px;
    line-height: 48px;
}

h3 {
    font-size: 26px;
    line-height: 39px;
}

h4 {
    font-size: 22px;
    line-height: 33px;
}

h5 {
    font-size: 18px;
    line-height: 27px;
}

h6 {
    font-size: 16px;
    line-height: 24px;
}

p {
    margin-bottom: 32px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    line-height: 24px;
}

input, button, select, textarea {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

li#search {
    position: relative;
}

li#search h6 {
    font-size: 12px;
    line-height: 18px;
}

li#search p {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}

li#search input {
    width: 350px;
    margin-top: 5px;
}

li#search hr {
    margin-top: 5px;
}

ol#search-results li {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar .nav > #search-results::before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.navbar .nav > #search-results::after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
}

/* Next/Prev pager */
.pager a {
  position:fixed;
  top:50%;
  z-index:101;
  margin-top:-30px;
  padding:20px 5px;
  height:20px;
  width:20px;
  display:block;
  text-indent:-9999px;
  overflow:hidden;
  transition:background-color .2s;
  -moz-transition:background-color .2s;
  -webkit-transition:background-color .2s;
  }

.pager a.prev {
  left:0%;
  border-radius:0px 3px 3px 0px;
}

.pager a.next {
  right:0%;
  border-radius:3px 0px 0px 3px;
}

.pager a { background-color:#444444; }
.pager a:hover { background-color:#222222; }
.pager .icon.prev { background-position:-80px -90px; }
.pager .icon.next { background-position:-100px -90px; }
.pager a:hover .icon.prev { background-position:-80px -70px; }
.pager a:hover .icon.next { background-position:-100px -70px; }
.pager .icon-arrow-left { position: fixed; left: 0; }
.pager .icon-arrow-right { position: fixed; }