---
layout: default
---

<div class="content">
  <div>
    <div class="page-header">
      <h1>
        {% if page.depicted_by %}
        <img alt="logo" src="{{page.depicted_by}}" />
        {% endif %} {{ page.title }}
        <small>{{ page.tagline }}</small>
      </h1>
      <p>{{page.description}}</p>
      {% if page.twitter %}
      <iframe
        style="
          position: static;
          visibility: visible;
          width: 190px;
          height: 20px;
        "
        data-twttr-rendered="true"
        title="Twitter Follow Button"
        class="twitter-follow-button twitter-follow-button"
        src="http://platform.twitter.com/widgets/follow_button.a64cf823bcb784855b86e2970134bd2a.en.html#_=1438577078419&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name={{page.twitter}}&amp;show_count=true&amp;show_screen_name=true&amp;size=m"
        allowtransparency="true"
        scrolling="no"
        id="twitter-widget-0"
        frameborder="0"
      >
      </iframe>
      {% endif %} {% if page.google_plus %}
      <a href="https://plus.google.com/{{page.google_plus}}">G+</a>
      {% endif %}
    </div>
  </div>

  {% if page.is_obsolete %}
  <div>
    <div class="alert alert-danger" role="alert">
      This ontology is deprecated!
    </div>
    {% for repl in page.replaced_by %}
    <div class="alert alert-info" role="alert">
      Consider using: <a href="{{repl}}.html">{{repl}}</a>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-8">
        <div>
          <h2>Ontologies</h2>
          <table class="table">
            <tbody>
              {% for p in page.ontologies %}
              <tr>
                <td>
                  <a href="http://obofoundry.org/ontology/{{p.id}}">{{p.id}}</a>
                </td>
                <td>{{p.role}}</td>
                <td>
                  {{p.description}} {% if p.page %}
                  <a href="{{p.page}}"> [page]</a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        {{ content }}
      </div>
      <div class="col-md-4">
        <dl
          class="dl-horizontal"
          style="
            dd {
              margin-left: 0;
            }
          "
        >
          <dt>Homepage</dt>
          <dd>
            <a href="{{page.homepage}}">{{page.homepage}}</a>
          </dd>
          {% for p in page.page %}
          <dd>
            <a href="{{p}}">{{p}}</a>
          </dd>
          {% endfor %} {% if page.biosharing %}
          <dd>
            <a href="{{page.biosharing}}">{{page.biosharing}}</a>
          </dd>
          {% endif %}

          <dt>Members</dt>
          {% for member in page.members %}
          <dd>
            <a href="https://github.com/{{member}}">@{{member}}</a>
          </dd>
          {% endfor %} {% if page.taxon %}
          <dt>Taxon</dt>
          <dd>
            <a href="http://amigo.geneontology.org/amigo/term/{{page.taxon.id}}"
              >{{page.taxon.label}}</a
            >
          </dd>
          {% endif %} {% if page.exampleClass %}
          <dt>Example</dt>
          <dd>
            <a href="http://purl.obolibrary.org/obo/{{page.exampleClass}}"
              >{{page.exampleClass}}</a
            >
          </dd>
          {% endif %} {% if page.publications %}
          <dt>Cite</dt>
          {% for p in page.publications %}
          <dd>
            <small><a href="{{p.id}}">{{p.title}}</a></small>
          </dd>
          {% endfor %} {% endif %} {% if page.funded_by %}
          <dt>Funding</dt>
          {% for x in page.funded_by %}
          <dd>{{x}}</dd>
          {% endfor %} {% endif %} {% if page.used_by %}
          <dt>Used by</dt>
          {% for x in page.used_by %}
          <dd>
            <a href="{{x.url}}">{{x.label}}</a>
          </dd>
          {% endfor %} {% endif %} {% if page.dependencies %}
          <dt>Dependencies</dt>
          {% for x in page.dependencies %}
          <dd>
            <a href="{{x.id}}">{{x.id}}</a>
          </dd>
          {% endfor %} {% endif %}
        </dl>

        {% if page.id %}
        <div class="btn-group" role="group" aria-label="Source">
          <a
            href="https://github.com/OBOFoundry/OBOFoundry.github.io/blob/master/community/{{page.id}}.md"
          >
            <button
              type="button"
              data-toggle="tooltip"
              title="See FAQ entry: How is metadata stored?"
              html="true"
              class="btn btn-outline-primary"
            >
              View
            </button>
          </a>
          <a
            href="https://github.com/OBOFoundry/OBOFoundry.github.io/edit/master/community/{{page.id}}.md"
          >
            <button
              type="button"
              data-toggle="tooltip"
              title="See FAQ entry: How I do edit my metadata?"
              html="true"
              class="btn btn-outline-primary"
            >
              Edit
            </button>
          </a>
          <a
            href="https://github.com/OBOFoundry/purl.obolibrary.org/blob/master/config/{{page.id}}.yml"
          >
            <button
              type="button"
              data-toggle="tooltip"
              title="See FAQ entry: How I do edit my PURL?"
              html="true"
              class="btn btn-outline-primary"
            >
              PURL
            </button>
          </a>
          <!-- <button type="button" class="btn btn-outline-primary">Help</button> -->
        </div>
        {% endif %}
      </div>

      {% if page.id %}
      <div class="row">
        <footer class="footer">
          <div class="container">
            <p class="text-muted">
              Edit the metadata for this page:
              <a
                href="https://github.com/OBOFoundry/OBOFoundry.github.io/edit/master/community/{{page.id}}.md"
                >{{page.id}}.md</a
              >
              (GitHub will help you create a fork and pull request.)
            </p>
          </div>
        </footer>
      </div>
      {% endif %}
    </div>

    {% if page.comments %}
    <div>
      <div>
        <h2>Comments Section</h2>
        <p>Feel free to comment on the post but keep it clean and on topic.</p>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = "{{ site.comments.disqus.short_name }}";

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function () {
            var dsq = document.createElement("script");
            dsq.type = "text/javascript";
            dsq.async = true;
            dsq.src = "http://" + disqus_shortname + ".disqus.com/embed.js";
            (
              document.getElementsByTagName("head")[0] ||
              document.getElementsByTagName("body")[0]
            ).appendChild(dsq);
          })();
        </script>
        <noscript
          >Please enable JavaScript to view the
          <a href="http://disqus.com/?ref_noscript"
            >comments powered by Disqus.</a
          ></noscript
        >
        <a href="http://disqus.com" class="dsq-brlink"
          >comments powered by <span class="logo-disqus">Disqus</span></a
        >
      </div>
    </div>
    {% endif %}

    <!-- Twitter -->
    <script>
      !(function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
          js = d.createElement(s);
          js.id = id;
          js.src = "//platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);
        }
      })(document, "script", "twitter-wjs");
    </script>
  </div>
</div>
