---
layout: default
---

<div class="content">
  <div>
    <div class="page-header">
      <h1>FAQ: {{ page.title }}</h1>
      {% if page.summary %}
      <p>{{page.summary}}</p>
      {% endif %}
    </div>
  </div>

  <div class="col-md-12">
    {{ content }}
    <br />
    <strong>Was this helpful?</strong> Please contact us if you have questions
    or something is not clear.
    <a href="https://github.com/OBOFoundry/OBOFoundry.github.io/issues/new"
      >File an issue on GitHub</a
    >
  </div>
</div>
