---
layout: default
---
{{ }}
{% include navbar.html %}
<div class="content">    


  <div>	
    <div class="page-header">
      <h1>
        Principle: {{ page.title }}
      </h1>      
    <p>
      {{page.summary}}
    </p>
    </div>

  </div>
   
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        <ul>
        {% for p in site.principles %}
        <li>
          <a href="{{p.id}}.html">{{p.title}}</a>
        </li>
        {% endfor %}
        </ul>
      </div>
      <div class="col-md-9">
        {{ content }}
      </div>
    </div>

    
  </div>


</div>
    
