---
layout: default
---

<div class="content">
  <div>
    <div class="page-header">
      <h1>
        {% if page.title == "Overview" %} Principles: {{ page.title }} {% else
        %} Principle: {{ page.title }} {% endif %}
      </h1>
      <p>{{page.summary}}</p>
    </div>
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        <ul>
          {% for p in site.principles %}
          <li>
            <a href="{{p.id}}.html">{{p.title}}</a>
          </li>
          {% endfor %}
        </ul>
        {% if page.id %}
        <div class="btn-group" role="group" aria-label="Source">
          <a
            href="https://github.com/OBOFoundry/OBOFoundry.github.io/blob/master/principles/{{page.id}}.md"
          >
            <button
              type="button"
              data-toggle="tooltip"
              title="See FAQ entry: How I do propose edits to principles?"
              html="true"
              class="btn btn-outline-primary"
            >
              View
            </button>
          </a>
          <a
            href="https://github.com/OBOFoundry/OBOFoundry.github.io/edit/master/principles/{{page.id}}.md"
          >
            <button
              type="button"
              data-toggle="tooltip"
              title="See FAQ entry: How I do propose edits to principles?"
              html="true"
              class="btn btn-outline-primary"
            >
              Edit
            </button>
          </a>
          <!-- <button type="button" class="btn btn-outline-primary">Help</button> -->
        </div>
        {% endif %}
        <div>
          This page is generated via
          <a href="{{site.repo_src}}_layouts/principle.html"
            >_layouts/principle.html</a
          >. See <a href="/faq/how-do-i-edit-content.html">edit guide</a>
        </div>
      </div>
      <div class="col-md-9">{{ content }}</div>
    </div>
  </div>
</div>
